* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: row;
    gap: 25px;
    border-radius: 25%;
    top: 75%;
    transform: translate(25%, 50%);
}

.block {
    display: flex;
    justify-content: center;

    width: 100px;
    height: 100px;
    background-color: #e8e8e8;
}

.dot {
    display: flex;
    align-items: end;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: black;
    border-radius: 50%;
}